<input 
  type="password"
  class="my-0 mx-auto mt-5 mb-2 border py-2 px-4 w-300 flex self-center"
  placeholder="Enter your password"
  [(ngModel)]="password" (ngModelChange)="calculatePasswordStrength()"
>

<h3 class="text-center text-xl font-bold mt-5">Password strength: </h3>

<div class="mt-5 flex flex-col items-center">
    <div class="password-strength-section w-40 h-10" [ngClass]="{
        'gray1': password.length === 0,
        'red1': passwordStrength === 'weak',
        'red2': passwordStrength === 'easy',
        'yellow': passwordStrength === 'medium',
        'green': passwordStrength === 'strong'
      }"></div>
      <div class="password-strength-section w-40 h-10 mt-3" [ngClass]="{
        'gray1': password.length === 0,
        'red1': passwordStrength === 'weak',
        'gray2': passwordStrength === 'easy',
        'yellow': passwordStrength === 'medium',
        'green': passwordStrength === 'strong'
      }"></div>
      <div class="password-strength-section w-40 h-10 mt-3" [ngClass]="{
        'gray1': password.length === 0,
        'red1': passwordStrength === 'weak',
        'gray2': passwordStrength === 'easy',
        'gray3': passwordStrength === 'medium',
        'green': passwordStrength === 'strong'
      }"></div>
</div>