.gray1 {
    background-color: #d1d5db;
}

.gray2 {
    background-color: #d1d5db;
}

.gray3 {
    background-color: #d1d5db;
}

.red1 {
    background-color: #fca5a5;
}

.red2 {
    background-color: #fca5a5;
}

.yellow {
    background-color: #fde047;
}

.green {
    background-color: #4ade80;
}